/* Core */
html, body {background-color: transparent; height: 100%; overflow: hidden;}
html.gm13 {-webkit-mask-box-image: url("/assets/darth/mask-4.png") 4;}	

body {margin: 0px; font-family: Helvetica; color: #333; display: flex; flex-direction: column; accent-color: #4096EE;}
a {color: #333; text-decoration: none;}
a:hover {color: #FFF;}
h1 {margin-left: 10px;}
a.textlink {font-weight: bold; cursor: pointer;}
a.textlink:hover {color: #4096EE;}
form {margin-bottom: 0;}


/* Text helpers */
.case {text-transform: lowercase;}
.Case {text-transform: capitalize;}
.CASE {text-transform: uppercase;}


/* Common form elements */
.form_input, .form_btn {box-sizing: border-box; padding: 5px; border: 2px solid #595959; border-radius: 4px; color: black; color-scheme: light;}
.form_input:focus, .form_btn:focus,
.form_input:active, .form_btn:active {outline: none !important; box-shadow: 0 0 0 2px #B8E3FF;}
.form_input:focus-visible, .form_btn:focus-visible {outline: none !important;}

/* Common form elements - Text */
.form_input {background-color: white;}
.form_input:hover {border-color: #333;}
.form_input:focus, .form_input:active {border-color: #4096EE;}

/* Common form elements - Button */
.form_btn {border-color: #4096EE; background-color: #B8E3FF;}
.form_btn:hover {background-color: #4096EE; color: white;}





#searchresults:empty::before {content: "No results"; display: block; margin-bottom: 10px;}


/* Dialog / Alert */
dialog#alert {box-sizing: border-box; padding: 15px; width: 450px; max-width: 100%; border: none; border-radius: 10px; background: white;}
dialog#alert:focus-visible {outline: none;}

dialog#alert::backdrop {background-color: #0009;}

dialog#alert h3 {margin-top: 0px; color: #4096EE;}
dialog#alert h3:empty {display: none;}
dialog#alert button.form_btn {font-size: 14px; float: right; padding: 6px 12px;}


/* Context Menu */
dialog.contextmenu:not([open]) {display: none !important;}
dialog.contextmenu:focus-visible {outline: none;}
dialog.contextmenu {z-index: 500; position: fixed; box-sizing: border-box; background: #000b; margin: 0; padding: 6px; color: white; font-weight: bold; font-size: 13px; cursor: auto; backdrop-filter:blur(20px) grayscale(1); text-align: left; border: none; border-radius:5px; white-space:nowrap; line-height: 1;}
dialog.contextmenu hr {margin: 5px 6px; border:0; border-top:1px solid #4096ee;}
dialog.contextmenu .txt {padding: 5px; cursor: default; opacity: 0.5; text-align: center; font-weight: normal; font-style: italic;}
dialog.contextmenu a {padding: 5px; cursor: pointer; color: inherit; border-radius: 2px; display: flex; align-items: center;}
dialog.contextmenu a:focus-visible {outline: none;}
dialog.contextmenu a:hover {background-color: #4096EE;}
dialog.contextmenu a::before {background-size: cover; background-position: var(--icopos, left); background-repeat: no-repeat; width: 1.5em; height: 1.5em; margin-right: 5px; background-image: var(--ico); content: " ";}

dialog.contextmenu a.ico-comment {--ico: url('/assets/rustmb/combined/unused/comment.png'); --icopos: right;}
dialog.contextmenu a.ico-code {--ico: url('/assets/rustmb/combined/unused/pen.png');}
dialog.contextmenu a.ico-favadd {--ico: url('/assets/rustmb/combined/fav.png'); --icopos: center;}
dialog.contextmenu a.ico-favrem {--ico: url('/assets/rustmb/combined/fav.png'); --icopos: right;}
dialog.contextmenu a.ico-block {--ico: url('/assets/rustmb/combined/unused/bin.png');}
dialog.contextmenu a.ico-flag {--ico: url('/assets/rustmb/combined/unused/banana.png'); --icopos: right;}

.item:not(.isfav) dialog.contextmenu a.ico-favrem, .item.isfav dialog.contextmenu a.ico-favadd {display: none;}


/* tooltips */
.tooltip, [tooltip]:hover::before {background-color: #f9eeb5; display: inline-block; width: auto; font-size: 10px; white-space: nowrap; color: #6f6639; font-family: Verdana, Tahoma, sans-serif; font-weight: bold; border: 1px solid #827c5e; border-radius: 3px; padding: 2px 4px; box-shadow: inset 0 0 0 1px #fcf6da;} /* common for inline and hover tooltip */
[tooltip]:hover::before {position: absolute; pointer-events: none; content: attr(tooltip); z-index: 100; } /* hover tooltips */
.tt_topleft[tooltip]:hover::before, .tt_top[tooltip]:hover::before, .tt_topright[tooltip]:hover::before {top: -5px; transform: translateY(-100%);} /* top */
.tt_bottomleft[tooltip]:hover::before, .tt_bottom[tooltip]:hover::before, .tt_bottomright[tooltip]:hover::before {bottom: -5px;  transform: translateY(100%);} /* bottom */
.tt_top[tooltip]:hover::before {left: 50%; transform: translate(-50%, -100%); text-align: center;} /* top-middle */
.tt_bottom[tooltip]:hover::before {left: 50%; transform: translate(-50%, 100%); text-align: center;} /* bottom-middle */
.tt_topleft[tooltip]:hover::before, .tt_bottomleft[tooltip]:hover::before {right: 0; text-align: right;} /* left (top/bottom) */
.tt_topright[tooltip]:hover::before, .tt_bottomright[tooltip]:hover::before {left: 0; text-align: left;} /* right (top/bottom) */
.tt_left[tooltip]:hover::before {left: -5px; top: 50%; transform: translate(-100%, -50%); text-align: right;}  /* left (center) */
.tt_right[tooltip]:hover::before {right: -5px; top: 50%; transform: translate(100%, -50%); text-align: left;} /* right (center) */



.header {width: 100%; display: flex; overflow: hidden; -webkit-user-select: none;  background-color: #4096EE; flex-shrink: 0;}

#header_primary {}
#header_secondary {justify-content: space-between; padding-bottom: 2px;}

.clouds {height: 40px; width: calc(100% + 318px); pointer-events: none; animation: clouds 0s linear infinite; flex-shrink: 0;}
#topclouds {background-image: url("/svg/clouds?fill=B8E3FF"); animation-duration: 10s;  background-color: #4096EE;}
#bottomclouds {background-image: url("/svg/clouds?fill=FFFFFF"); animation-duration: 5s; opacity: 0.9;}
@media (prefers-reduced-motion: reduce) {
	.clouds {animation: none !important;}
}

.navbar a {width: 64px; height: 50px; float: left; overflow: hidden; font-size: 11px; text-align: center; margin-top: 10px; margin-left: 4px; font-weight: bolder; text-decoration: none; white-space: nowrap; text-overflow: ellipsis;}
.navbar .navicon {width: 32px; height: 32px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: left;}
.navbar a:hover .navicon, .navbar a.active .navicon {background-position: right;}
.navbar .disabled {opacity: 0.25; pointer-events: none;}

.subbar {margin-left: 12px;}
.subbar a {float: left; font-size: 16px; margin-right: 12px; margin-top: 4px; margin-bottom: 4px; font-weight: bolder; text-decoration: none; height: 16px;}
.subbar .navicon {width: 16px; height: 16px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: left; margin-right:4px;}
.subbar a:hover .navicon, .subbar a.active .navicon {background-position: right;}
.subbar span:not(.navicon) {vertical-align: top;}
.subbar .disabled {opacity: 0.25; pointer-events: none;}

#home .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#mine .navicon {background-image: url('/assets/rustmb/combined/mine.png');}
#entity .navicon {background-image: url('/assets/rustmb/combined/entity.png');}
#weapon .navicon {background-image: url('/assets/rustmb/combined/weapon.png');}
#prop .navicon {background-image: url('/assets/rustmb/combined/prop.png');}
#savemap .navicon {background-image: url('/assets/rustmb/combined/savemap.png');}
#map .navicon {background-image: url('/assets/rustmb/combined/map.png');}

#prev .navicon {background-image: url('/assets/rustmb/combined/leftarrow.png')}
#next .navicon {background-image: url('/assets/rustmb/combined/rightarrow.png')}
#reroll .navicon {background-image: url('/assets/rustmb/combined/reroll.png')}

#cloudbox .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#pgFeatured .navicon {background-image: url('/assets/rustmb/combined/featured.png');}
#pgNews .navicon {background-image: url('/assets/rustmb/combined/news.png');}
#pgInfo .navicon {background-image: url('/assets/rustmb/combined/info.png');}

#newest .navicon {background-image: url('/assets/rustmb/combined/newest.png');}
#random .navicon {background-image: url('/assets/rustmb/combined/random.png');}
#popular .navicon {background-image: url('/assets/rustmb/combined/popular.png');}

#uploadsave .navicon {background-image: url('/assets/rustmb/combined/uploadsave.png');}
#cleanup .navicon {background-image: url('/assets/rustmb/combined/cleanup.png');}

#settings {cursor: pointer;}
#settings .navicon {background-image: url('/assets/rustmb/combined/gear.png');}

#togglemode {cursor: pointer; position: absolute; margin: 0; border-radius: 100%; width: 48px; height: 48px; right: 4px; }
#togglemode .navicon {background-image: url("/assets/rustmb/combined/sunmoon.png"); width: 100%; height: 100%;}
#togglemode:hover .navicon {background-position: right;}


#back_history {cursor: pointer; overflow: visible; position: relative;}
#back_history .navicon {background-image: url('/assets/rustmb/combined/leftarrow.png'); width: 50px; height: 50px;}



.search {padding: 16px; padding-bottom: 0px; position: relative; flex-grow: 1;}
.search #searchbox {width: 100%; font-size: 13px; line-height: 1.2em; transition: border 0.01s linear, box-shadow 0.01s linear;}
.search #searchbox:focus {}
.search button {display: none;}
.show-searchbtn .search button {appearance: none; border: none; padding: 0; margin: 0; outline: 0; display: inline-block; background-color: transparent; background-size: cover; background-repeat: no-repeat; background-position: left; background-image: url("/assets/rustmb/combined/find.png"); cursor: pointer; width: 24px; height: 24px; position: absolute; top: 19px; right: 19px;}
.show-searchbtn .search button:hover {background-position: right;}



.content {padding: 16px 8px; overflow-y: auto; background-color: #B8E3FF; flex-grow:1; /*padding-bottom: 160px;*/ scrollbar-color: #4096EE white;}

.pillbox {background: white; border-radius: 10px; padding: 5px 10px; overflow: hidden; margin-left: auto; margin-right: auto; width: 92%; box-sizing: border-box;}
.pillbox:not(:last-child) {margin-bottom: 6px;}
.pillbox.thin {display: inline-block; margin-left: 4%; width: auto; max-width: 92%;}

.pillbox h2, .pillbox h3, .pillbox h4 {color: #4096EE; margin: 0; margin-bottom: 6px; margin-top: 3px;}
.pillbox sub {font-style: italic; margin-left: 10px; color: #333; font-weight: normal; vertical-align: baseline;}
.pillbox div.newsformat {margin: 13px 0px; margin-bottom: 6px; font-size: 13px; white-space: pre-line;}

a.morelink {width: 16px; height: 16px; display: inline-block; margin-left: 2px; vertical-align: sub; background-size: cover; background-position: right; background-repeat: no-repeat; background-image: url("/assets/rustmb/combined/link.png");}
a.morelink:hover {background-position: left;}
a.morelink.large {width: 22px; height: 22px;}


a.textlink .linkicon {background-size: cover; background-position: left; background-repeat: no-repeat; display: inline-block; width: 1em; height: 1em; vertical-align: text-top; margin-right: 3px;}
a.textlink:hover .linkicon {background-position: right;}

.newsitem:not(:last-child) {border-bottom: 1px solid #B8E3FF;}
.newsitem time {position: relative;}


.thumb {width: 100%; height: 100%; border: 2px solid #595959; border-radius: 4px; background-position: center; background-image: var(--thumb, none), url("/assets/rustmb/missing.svg"); background-size: cover;}


.itemflow {display: flex; flex-wrap: wrap; column-gap: 4.45px; justify-content: center;}
.itemflow.singleline {overflow: hidden; flex-wrap: nowrap; justify-content: flex-start;}

.item {width: 132px; height: 125px; display: inline-block;}
.item a {cursor: pointer;}
.item .thumb {width: 128px; height: 100px; margin-bottom: 1px; position: relative;}
.item a:hover .thumb {border-color: #4096EE;}
.item .name {font-size: 11px; font-weight: bolder; text-align: center; white-space: nowrap; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden;}
.item a:hover .name {color: #4096EE;}

.item.isfav .favstatus {display: inline-block; width: 28px; height: 28px; bottom: 0; left: 0; background-image: url("/assets/rustmb/combined/fav.png"); position: absolute; background-size: cover; background-position: left;} 



.item .metabox-template {display: none;}

.metabox {position: fixed; bottom: 0; left: 0; right: 0; height: 160px; opacity: 1; pointer-events: none; transition: opacity 0.2s linear, transform 0.2s linear; z-index: 200; overflow: hidden; background: linear-gradient(to bottom, transparent 40px, #ffffffe5 40px); transform: translateY(0px);}
.metabox:not(.active) {opacity: 0.275; transform: translateY(120px); transition-delay: 0.1s;}

.metabox-target {margin-left: 15px; margin-right: 15px; margin-top: -10px; display: flex; gap: 10px; height: 125px; position: relative; transition: opacity 0.2s 0s linear; opacity: 1;}
.metabox:not(.active) .metabox-target {opacity: 0; transition-delay: 0.1s;}
@media (prefers-reduced-motion: reduce) {
	.metabox {transition-timing-function: steps(2, jump-none) !important;}
}


.metabox .meta-col {flex-shrink: 0; overflow: hidden; box-sizing: border-box; font-weight: bolder;}

.metabox .thumb {width: 125px;}

.metabox .meta-info {width: 300px; display: flex; flex-direction: column; font-size: 13px; gap: 4px;}
.metabox .meta-info .meta-row {flex:0;}
.metabox .meta-info .meta-name {font-weight: bold; font-size: 18px; overflow: hidden; flex:1;}

.metabox .meta-info .meta-stats {display: flex; gap: 12px;}
.metabox .meta-info .meta-stats img {height: 16px; vertical-align: bottom; margin-right: 4px;}
.color-likes {color: #004B49;}
.color-dislikes {color: #990036;}
.color-dls {color: #1C20D9;}
.color-favs {color: #B65600;}

.metabox .meta-info .meta-user {line-height: 24px;}
.metabox .meta-info .meta-user img {width: 48px; height: 48px; float: left; margin-right: 8px;}

.metabox .meta-desc {background: #b8e3ff99; padding: 10px; font-size: 15px; border-radius: 8px; flex: 1; white-space: pre-line;}
.metabox .meta-desc:empty::before {content: "No description available"; font-weight: normal; font-style: italic; opacity: 0.5;}
.metabox .meta-desc.wrap {white-space: normal;}
.metabox .meta-desc[data-scale="1"] {font-size: 14.5px;}
.metabox .meta-desc[data-scale="2"] {font-size: 14px;}
.metabox .meta-desc[data-scale="3"] {font-size: 13.5px;}
.metabox .meta-desc[data-scale="4"] {font-size: 13px;}
.metabox .meta-desc[data-scale="5"] {font-size: 12.5px;}
.metabox .meta-desc[data-scale="6"] {font-size: 12px;}
.metabox .meta-desc[data-scale="7"] {font-size: 11.5px;}
.metabox .meta-desc[data-scale="8"] {font-size: 11px;}
.metabox .meta-desc[data-scale="9"] {font-size: 10.5px;}
.metabox .meta-desc[data-scale="10"] {font-size: 10px;}
.metabox .meta-desc[data-scale="11"] {font-size: 9.5px;}
.metabox .meta-desc[data-scale="12"] {font-size: 9px;}
.metabox .meta-desc[data-scale="13"] {font-size: 8.5px;}
.metabox .meta-desc[data-scale="14"] {font-size: 8px;}



#mouseinfo {display: flex; font-size: 10px; font-weight: bold; overflow-wrap: break-word; margin-right: 4%; padding-top: 30px; float: right; clear: both;}
#mouseinfo img {filter: brightness(0.2); width: 120px; height: 120px;}
#mouseinfo > div {max-width: 120px; z-index: 2;}
#mouseinfo .left {margin-right: -28px; text-align: right;}
#mouseinfo .right {margin-left: -28px; text-align: left;}
#mouseinfo .label {font-style: italic;}
#mouseinfo .action {margin-top: 5px; font-size: 16px;}
#mouseinfo .left .action {margin-right: 6px;}
#mouseinfo .right .action {margin-left: 6px;}


.clipboard {position: absolute; background: black; border-radius: 20px; color: white; text-align:center; padding: 5px 9px; font-size: 13px; font-weight: bold; transform: pointer-events: none; animation: fadeout 1s 1s forwards; z-index: 500; margin: 10px;}



@keyframes fadeout { from {opacity:1;} to {opacity:0;} }

@keyframes clouds {0% {transform: translateX(0px);} 100% {transform: translateX(-318px);}}

::-webkit-scrollbar {background-color: #4096EE; border-radius: 4px;}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {background-color: white; border: 2px solid #595959;}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {background-color: #B8E3FF;}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active {border-color: #4096EE;}
::-webkit-scrollbar-button:decrement {border-radius: 4px 4px 0px 0px; background-position: 3px 4px; background-repeat: no-repeat; background-image: url('/assets/darth/scrollup.gif');}
::-webkit-scrollbar-button:decrement:active {background-image: url('/assets/darth/scrollup_active.gif')}
::-webkit-scrollbar-button:increment {border-radius: 0px 0px 4px 4px; background-position: 3px 5px; background-repeat: no-repeat; background-image: url('/assets/darth/scrolldown.gif');}
::-webkit-scrollbar-button:increment:active {background-image: url('/assets/darth/scrolldown_active.gif')}

#scrolldemo_outer1 {background-color: white;}
#scrolldemo_outer2 {background-color: #B8E3FF;}


@media (max-width: 859px) {
	
	.content {padding-left: 2px; padding-right: 2px;}
	
	.metabox-target {margin-left: 5px; margin-right: 5px;}
	
	.pillbox {width: 99%;}
	
}

@media (max-width: 775px) {
	
	#header_primary {flex-wrap: wrap;}
	
	#header_primary > .navbar:first-child {width: 100%;}
	
	.header .search {padding-left: 8px; padding-right: 8px; padding-top: 8px; padding-bottom: 16px;}
	.header .search:not(:last-child) {padding-right: 0px;}
	
	.header .search button {top: 11px; right: 11px;}
	.header .search:not(:last-child) button {right: 3px;}
	
	.header .search + .navbar a {margin-top: 4px;}
}

@media (max-width: 499px) {
	.header .navbar:first-child {zoom: 0.85;}
	
	.header .search {padding-bottom: 6px;}
	
	.header .search + .navbar {zoom: 0.8;}
	
	.header .subbar a:not(#togglemode) {zoom: 0.85;}
}