<html>
	<head>
		<link rel="stylesheet" href="/client/ingame.css" type="text/css" />
		<link rel="stylesheet" href="/client/ingame_list.css" type="text/css" />
		<link rel="stylesheet" href="/client/ingame_view.css" type="text/css" />
		<link rel="stylesheet" href="/client/ingame_form.css" type="text/css" />
		<link rel="stylesheet" href="/client/tooltip.css" type="text/css" />
		<link rel="stylesheet" href="/client/ingame_comments.css" type="text/css" />
		<link rel="stylesheet" href="/client/jquery-ui-1.8.4.custom.css" type="text/css" />
		<script src="/client/jquery-1.4.2.min.js" type="text/javascript"></script>
		<script src="/client/jquery-ui-1.8.4.custom.min.js" type="text/javascript"></script>	
		<script src="/client/tooltip.min.js" type="text/javascript"></script>
		<script src="/client/shared.js" type="text/javascript"></script>
		<script src="/client/ingame.js" type="text/javascript"></script>
		{{if eq .PageType "code"}}<script src="/client/codemirror/codemirror.js" type="text/javascript"></script>{{end}}
		<script type="text/javascript">$(function() {
			$(".use_tooltip").tooltip({position: 'bottom center', predelay: 500}).dynamic();
			$(".use_tooltip_top").tooltip({position: 'top center', predelay: 500}).dynamic();
			$("input").focus(StartSpawnmenuFocus);
			$("input").blur(EndSpawnmenuFocus);
			$("textarea").focus(StartSpawnmenuFocus);
			$("textarea").blur(EndSpawnmenuFocus);
		});</script>
		<title>{{.Item.Name}}</title>
	</head>
	<body>
		<div id="content">
			<div class='viewcloudscript'>
				<div class='inner'>
					<div class='title'>{{.Item.Name}}</div>
					<div class='username'>by {{if eq .Item.AuthorName ""}}Unknown{{else}}<a href="/user/!{{.Item.Author}}">{{.Item.AuthorName}}</a>{{end}}</div>
				</div>
				<div class='tabs'>
					<ul>
						<li{{if eq .PageType "details"}} class='active'{{end}}><a href='details'><img src='/client/dortmund-16x16/invoice.png'> Details</a></li>
						<li{{if eq .PageType "comments"}} class='active'{{end}}><a href='comments'><img src='/client/dortmund-16x16/comment.png'> Comments</a></li>
						{{if gt (len .Item.Data) 0}}<li{{if eq .PageType "code"}} class='active'{{end}}><a href='code'><img src='/client/dortmund-16x16/settings.png'> Code</a></li>{{end}}
						{{if gt (len .Item.Content) 0}}<li{{if eq .PageType "content"}} class='active'{{end}}><a href='content'><img src='/client/dortmund-16x16/folder.png'> Content</a></li>{{end}}
						<li{{if eq .PageType "downloaders"}} class='active'{{end}}><a href='downloaders'><img src='/client/dortmund-16x16/customers.png'> Users</a></li>
						<li{{if eq .PageType "favourited"}} class='active'{{end}}><a href='favourited'><img src='/client/dortmund-16x16/heart.png'> Favourites</a></li>
					</ul>
				</div>
			</div>
			{{if eq .PageType "details"}}{{template "details" .Item}}{{end}}
			{{if eq .PageType "code"}}{{template "code" .Item}}{{end}}
			{{if eq .PageType "content"}}{{template "content" .Item}}{{end}}
		</div>
	</body>
</html>
