<!doctype html>
<html class="{{if .InGame}}gm13{{end}}">
	<head>
		<title>Cloudbox</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#4096ee">
		<meta property="og:title" content="Cloudbox - Toybox for Garry's Mod 13">
		<meta name="twitter:title" content="Cloudbox - Toybox for Garry's Mod 13">
		<meta name="description" content="Toybox is now back up and running for both Garry's Mod 12 and 13. Features over 1000 recovered uploads. Explore classic Toybox entities, weapons, and maps all over again. ">
		<meta property="og:description" content="Toybox is now back up and running for both Garry's Mod 12 and 13. Features over 1000 recovered uploads. Explore classic Toybox entities, weapons, and maps all over again. ">
		<meta name="twitter:description" content="Toybox is now back up and running for both Garry's Mod 12 and 13. Features over 1000 recovered uploads. Explore classic Toybox entities, weapons, and maps all over again. ">
		<meta property="og:url" content="https://cl0udb0x.com/">
		<meta property="twitter:url" content="https://cl0udb0x.com/">
		<meta property="twitter:domain" content="cl0udb0x.com">
		<meta property="og:image" content="https://cl0udb0x.com/assets/preview.png">
		<meta name="twitter:image" content="https://cl0udb0x.com/assets/preview.png">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:site_name" content="Flatgrass.net">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon-180x180.png" />
		<link rel="stylesheet" href="/assets/cloudbox.css?20250725" type="text/css">
		<script src="/assets/cloudbox.js?20250725" defer></script>
	</head>
	<body>
		<div class="header" id="header_primary">
			{{template "categorybar" .}}
			{{template "searchbar" .}}
			{{if not .HomePage}}
				{{template "pagenav" .}}
			{{end}}
		</div>
		<div class="header" id="header_secondary">
			{{template "sortbar" .}}
			<div class="subbar">
				{{if .InGame}}
					<a id="settings" onclick="cloudbox.OpenSettings()"><span class="navicon"></span><span translate="options">Options</span></a>
				{{end}}
			</div>
		</div>
		
		<div class="clouds" id="topclouds"></div>
		<div class="metabox" data-itemid="">
			<div class="clouds" id="bottomclouds"></div>
			<div class="metabox-target"></div>
		</div>

		<script>
			function animationTimeString(time, total) {
				return "animation-delay: -" + (time.getSeconds() % total) + "." + (time.getMilliseconds()/1000).toFixed(3).substring(2) + "s;";
			}
			
			var animationTime = new Date();
			document.querySelector("#topclouds").setAttribute("style", animationTimeString(animationTime, 10));
			document.querySelector("#bottomclouds").setAttribute("style", animationTimeString(animationTime, 5));
		</script>
		
		{{if .HomePage}}
			<div class="content" style="padding-top:0; padding-bottom: 16px;">
				{{if eq .PageType "home"}}
					{{template "home" .}}
					{{template "mouseinfo" .}}
				{{else if eq .PageType "news"}}
					{{template "news" .}}
				{{else if eq .PageType "info"}}
					{{template "info" .}}
				{{else if eq .PageType "search"}}
					<div style="text-align: center;">
						<h2 style="margin-top: 0; margin-bottom: 6px;">View <i>{{.Search}}</i> <span class="case" translate="search.results">results</span></h2>
						<div class="pillbox" style="display: inline-block; width: auto; font-size: 20px;">
							{{template "searchlinks" .}}
						</div>
					</div>
				{{else if eq .PageType "zoo"}}
					{{template "zoo" .}}
				{{else if eq .PageType "error"}}
					<div class="pillbox">
						<h2>Page Not Found (404)</h2>
						<p>URL does not exist <span style="font-size: 22px;">&#x1F641;</span></p>
					</div>
				{{end}}
			</div>
		{{else}}
			<div class="content" style="text-align:center;">
				{{if ne .Search ""}}{{template "searchresultsheading" .}}{{end}}
				<div {{if ne .Search ""}}id="searchresults"{{end}} class="itemflow">{{range .Packages}}
					{{template "item" .}}
				{{end}}</div>
				{{if ne .Search ""}}
					<div class="pillbox" style="display: block; width: auto; margin-top: 12px; font-size: 14px; background-color: transparent;">
						<h4>See search results in other categories</h4>
						{{template "searchlinks" .}}
					</div>
				{{end}}
				{{template "mouseinfo" .}}
			</div>
		{{end}}
		<dialog id="alert"><h3></h3><p></p><button class="form_btn" onclick="document.querySelector('#alert').close();" autofocus><span translate="dialog.ok">OK</span></button></dialog>
	</body>
</html>
