<html>
	<head>
		{{template "head"}}
	</head>
	<body>
		<div id="content">
			{{template "navbar" .}}
			<script type="text/javascript">$("#searchbox").keyup(function() {DoSearch($("#searchbox").val(), '{{.Type}}');});</script>
			<div id='searchtarget'>
				<div class="column" style="float: left; width: 140px;">NEWEST ENTITIES<br>
					<div class='files_box'>
						{{range .Entities}}
							{{template "scriptbox" .}}
						{{end}}
						<div class='clear'>&nbsp;</div>
					</div>
				</div>
				<div class="column" style="float: left; width: 140px;">NEWEST WEAPONS<br>
					<div class='files_box'>
						{{range .Weapons}}
							{{template "scriptbox" .}}
						{{end}}
						<div class='clear'>&nbsp;</div>
					</div>
				</div>
				<div class="column" style="float: left; width: 140px;">NEWEST PROPS<br>
					<div class='files_box'>
						{{range .Props}}
							{{template "scriptbox" .}}
						{{end}}
						<div class='clear'>&nbsp;</div>
					</div>
				</div>
				<div class="column" style="float: left; width: 140px;">NEWEST SAVES<br>
					<div class='files_box'>
						{{range .Saves}}
							{{template "scriptbox" .}}
						{{end}}
						<div class='clear'>&nbsp;</div>
					</div>
				</div>
				<div class='clear'>&nbsp;</div>
			</div>
		</div>
	</body>
</html>
