{{define "home"}}
<div class="pillbox">
	<h2>What's New? <a class="morelink large" href="/news"></a></h2>
	
	{{template "newsitem" (index .News 0)}}
</div>


<div class="pillbox">
	<h4><span translate="popular">Popular</span> <span translate="addons.entity">Entities</span> <a class="morelink" href="/browse/entities?sort=popular"></a></h4>
	<div class="itemflow singleline">
		{{range .PopularENTs}}
			{{template "item" .}}
		{{end}}
	</div>
</div>

<div class="pillbox">
	<h4><span translate="popular">Popular</span> <span translate="addons.weapon">Weapons</span> <a class="morelink" href="/browse/weapons?sort=popular"></a></h4>
	<div class="itemflow singleline">
		{{range .PopularSWEPs}}
			{{template "item" .}}
		{{end}}
	</div>
</div>

<div class="pillbox">
	{{if .InGame}}<span class="tooltip" style="float:right">Note: Clicking a map below will automatically load the map</span>{{end}}
	<h4><span translate="popular">Popular</span> <span translate="addons.map">Maps</span> <a class="morelink" href="/browse/maps?sort=popular"></a></h4>
	<div class="itemflow singleline">
		{{range .PopularMaps}}
			{{template "item" .}}
		{{end}}
	</div>
</div>
{{end}}