{{define "info"}}
<div class="pillbox">
	<h2>Contributing</h2>
	<h4>Can I contribute Toybox content?</h4>
	<p>Do you have any old installs of Garry's Mod lying around? If it's from 2010 to 2012, it's possible it has valuable cached downloads we can use to revive more of Toybox. Add Pancakes on {{if .InGame}}<a class="textlink" onclick="cloudbox.OpenLink('pancakes')">Steam</a>{{else}}<a class="textlink" href="https://steamcommunity.com/id/keroronpa" target="_blank">Steam</a>{{end}} or Discord (@keroronpa), you can help make Cloudbox even better.</p>
	<h4>What about something else?</h4>
	<p>At the moment we're only focused on recovering original Toybox uploads.</p>
</div>
<div class="pillbox">
	<h2>Garry's Mod 13</h2>
	<h4>How to use</h4>
	<p>Subscribe to the {{if not .InGame}}<a class="textlink" href="https://steamcommunity.com/sharedfiles/filedetails/?id=3365311511" target="_blank">Cloudbox addon</a>{{else}}Cloudbox addon{{end}} on the Garry's Mod Workshop. {{if .InGame}}If you're seeing this in-game, you've already subscribed!{{end}}</p>
	<h4>Compatibility and Bugs</h4>
	<p>Almost all of the content on Cloudbox is from 2010-2012, scripts may not fully work because of updates. We're actively developing a compatibility layer and releasing improvements often. See the <a class="textlink" href="/news">News</a> page for updates.</p>
	<h4>Commands</h4>
	<p>You can easily tweak Cloudbox's behavior using {{if .InGame}}<a class="textlink" onclick="cloudbox.OpenSettings()"><span class="linkicon" style="background-image: url('/assets/rustmb/combined/gear.png');"></span>Options</a>{{else}}in-game Options{{end}} or console commands.<br/>
		<code>cloudbox_userchangelevel</code> - Allow non-admins to changelevel to Cloudbox maps<br/>
		<code>cloudbox_adminonly</code> - Only allow admins to download from Cloudbox<br/>
		<code>cloudbox_showjoinmessage</code> - Show Cloudbox chat message on join<br/>
		<code>cloudbox_getpackage</code> - Download a package from Cloudbox by ID and (optionally) revision<br/>
		<code>cloudbox_purgecache</code> - Purge the Cloudbox downloads cache
	</p>
</div>
<div class="pillbox">
	<h2>Garry's Mod 12</h2>
	<p>
		All content on Cloudbox is also available in Garry's Mod 12. Visit {{if .InGame}}<a class="textlink" onclick="cloudbox.OpenLink('flatgrass-toybox')">https://flatgrass.net/toybox.html</a>{{else}}<a class="textlink" href="https://flatgrass.net/toybox.html" target="_blank">flatgrass.net/toybox.html</a>{{end}} for information about accessing Toybox in Garry's Mod 12.
	</p>
</div>
{{end}}