{{define "item"}}
<div class="item" data-itemid="{{.ID}}" style="--thumb: url('//img.cl0udb0x.com/{{.ID}}_thumb_128.png');"> <!-- class="item isfav" when the item is favourite, when feature is available-->
	<a onclick="cloudbox.GetPackage({{.Type}}, {{.ID}}, {{.Revision}})">
		<div class="thumb">
			<!-- <div class="favstatus"></div> -->
		</div>
		<div class="name">
			{{.Name}}
		</div>
	</a>
	<dialog class="contextmenu">
		<div class="txt">Item ID #{{.ID}}</div>
		{{if not (or (eq .Type "map") (eq .Type "savemap"))}}
			<a class="ico-code" href="/view/{{.ID}}/code" target="_blank">View Source Code</a>
		{{end}}
	</dialog>
	<div class="metabox-template" hidden>
		<div class="meta-col thumb" style="--thumb: url('//img.cl0udb0x.com/{{.ID}}_thumb_128.png');">
		</div>
		<div class="meta-col meta-info">
			<div class="meta-row meta-name">{{.Name}}</div>
			{{if eq .Type "savemap"}}
				<div class="meta-row meta-stats">
					<div class="color-map"><span class="mapico"></span>{{.Dataname}}</div>
				</div>
			{{end}}
			{{if not (and (eq .Goods 0) (eq .Bads 0) (eq .Downloads 0) (eq .Favorites 0))}}
				<div class="meta-row meta-stats">
					<div>
						<img src="/assets/rustmb/likes.png"><span class="color-likes">{{.Goods}}</span>
						<img src="/assets/rustmb/dislikes.png"><span class="color-dislikes">{{.Bads}}</span>
					</div>
					<div class="color-dls"><img src="/assets/rustmb/dls.png">{{.Downloads}}</div>
					<div class="color-favs"><img src="/assets/rustmb/favs.png">{{.Favorites}}</div>
				</div>
			{{end}}
			<div class="meta-row meta-user">
				{{if ne .AuthorIcon ""}}
					<img src="{{StripHTTPS .AuthorIcon}}">
				{{else}}
					<img src="/assets/rustmb/gmod.png">
				{{end}}
				
				{{if lt .ID 200000}}
					<div>Uploaded to Toybox, by</div>
				{{else}}
					<div>Uploaded {{.Uploaded.Format "02 January 2006"}}, by</div>
				{{end}}
				<div>{{if eq .AuthorName ""}}Unknown{{else}}{{.AuthorName}}{{end}}</div>
			</div>
		</div>
		<div class="meta-col meta-desc" data-scale="0">{{.Description}}</div>
	</div>
</div>
{{end}}