{{define "searchbar"}}
<div class="search">
	<form {{if .HomePage}}action="/search"{{end}}>
		<input id="searchbox" class="form_input" type="text" name="search" placeholder="Search {{if eq .Category "entity"}}Entities{{else if eq .Category "weapon"}}Weapons{{else if eq .Category "prop"}}Props{{else if eq .Category "savemap"}}Saves{{else if eq .Category "map"}}Maps{{end}}" value="{{.Search}}"
		{{if .InGame}}
			onclick="cloudbox.SetFocused(true)" onblur="cloudbox.SetFocused(false)"
		{{end}}>
		<button></button>
		<input type="hidden" name="sort" value="popular">
	</form>
</div>
{{end}}
