{{define "zoo"}}
<div class="pillbox">
	<h2>Localisation</h2>
	<p>
		Localisation is supported in Gmod only. Desktop will simply ignore it.<br/>
		Any element can have a <code>translate</code> attribute with the target localisation key. The text value of that element will be replaced if a match is found.<br/>
	</p>
	<ul>
		<li>Code: <code>Spawn &lt;span translate="addons.entity"&gt;Entities&lt;/span&gt; and &lt;span translate="addons.vehicle"&gt;Vehicles&lt;/span&gt;</code></li>
		<li>Example: Spawn <span translate="addons.entity">Entities</span> and <span translate="addons.vehicle">Vehicles</span></li>
	</ul>
	<p>
		If no match can be found for the user's language (or the user is out-of-game), the existing text value will be kept. For this reason, all strings should be the same as their default English value.
	</p>
	<ul>
		<li>Code: <code>This key doesn't exist so will be kept as &lt;span translate="zimbabwe"&gt;bazinga&lt;/span&gt;</code></li>
		<li>Example: This key doesn't exist so will be kept as <span translate="zimbabwe">bazinga</span></li>
	</ul>
</div>

<div class="pillbox">
	<h2>Text case helper</h2>
	<p>
		You can adjust the case of text with the helper classes, <code>case</code>, <code>Case</code>, and <code>CASE</code>.
	</p>
	<ul>
		<li><code>case</code> = lowercase everything: eg <code>&lt;span class="case"&gt;woRDS ArE hERe&lt;/span&gt;</code> = <span class="case">woRDS ArE hERe</span></li>
		<li><code>Case</code> = Capitalise First Letter Of Each Word BUT PRESERVES The REST AS IS: eg <code>&lt;span class="Case"&gt;words arE heRE&lt;/span&gt;</code> = <span class="Case">words arE heRE</span></li>
		<li><code>CASE</code> = UPPERCASE EVERYTHING: eg <code>&lt;span class="CASE"&gt;words ArE hERe&lt;/span&gt;</code> = <span class="CASE">words ArE hERe</span></li>
	</ul>
	<h4>Localisation</h4>
	<p>
		This is particularly useful when used with localisation strings (see the section above) as they may not be the case you want<br/>
		eg if "addons.entity" returns "Entities" but you want "entities"...
	</p>
	<ul>
		<li>Code: <code>these are my favourite &lt;span translate="addons.entity" class="case"&gt;EnTiTiEs&lt;/span&gt;</code></li>
		<li>Result: these are my favourite <span translate="addons.entity" class="case">EnTiTiEs</span></li>
	</ul>
</div>

<div class="pillbox">
	<h2>Input/form elements</h2>
	<p>
		HTML &lt;input&gt; elements can be styled for consistent display between desktop browsers and Gmod. Elements adjust for light and dark mode, hover/focus/click, etc.<br/>
		Use class "form_input" for text inputs and "form_btn" for button inputs. Not required to be used inside an actual form.
	</p>
	<ul>
		<li>class="form_input" on type=text - <input class="form_input" type="text" placeholder="type text"></li>
		<li>class="form_btn" on type=button/submit and &lt;button&gt; - <input class="form_btn" type="button" value="type button"> <input class="form_btn" type="submit" value="type submit"> <button class="form_btn">Button element</button></li>
	</ul>
</div>

<div class="pillbox">
	<h2>Links</h2>
	
	<h4>Basic link styling</h4>
	<p>
		Simple links can have the <code>textlink</code> class for basic styling. This can also be used on javascript links.
	</p>
	<ul>
		<li>Code: <code>See the &lt;a class="textlink" href="/news"&gt;News&lt;/a&gt; page for updates.</code></li>
		<li>Example: See the <a class="textlink" href="/news">News</a> page for updates.</li>
	</ul>
	
	<h4>Hover-state icons</h4>
	<p>
		Links can also have a 2-state icon similar to the navigation icons. Add a span with a <code>linkicon</code> class with the <code>background-image</code> for the icon. Styling is handled automatically. Hover link for demo.
	</p>
	<ul>
		<li>Code: <code>Find out more about &lt;a class="textlink" href="#"&gt;&lt;span class="linkicon" style="background-image: url('/assets/rustmb/combined/unused/banana.png');"&gt;&lt;/span&gt;bananas&lt;/a&gt; here.</code></li>
		<li>Example: Find out more about <a class="textlink" href="#"><span class="linkicon" style="background-image: url('/assets/rustmb/combined/unused/banana.png');"></span>bananas</a> here.</li>
	</ul>
</div>

<div class="pillbox">
	<h2>cbalert</h2>
	<p>
		cbalert() is an alternative to standard javascript alert() and can be called in the same situations.
	</p>
	<ul>
		<li><a class="textlink" onclick="cbalert('This is a description.\n\nSecond line which is long so that you can see how it wraps when it gets long enough.')">cbalert(text);</a></li>
		<li><a class="textlink" onclick="cbalert('This one has a title', 'This is a description, it has a title above.\n\nSecond line which is long so that you can see how it wraps when it gets long enough.')">cbalert(title, text);</a></li>
	</ul>
</div>

<style>
	#tt_demo {text-align:center; padding:20px; }
	#tt_demo span {display:inline-block; position:relative; border:2px solid #595959; border-radius:4px; width:100px; height:50px; vertical-align:middle; align-content: center; margin:2px 0px; background:#b8e3ff; color:#333;}
	#tt_demo .tt_middle {visibility:hidden; pointer-events:none; }
</style>
<div class="pillbox">
	<h2>Tooltips</h2>
	<p>
		Tooltips can be added to any element by using the tooltip attribute with the tooltip text, and a class to specify which direction.<br/>
		Element with the tooltip must be <code>position: relative</code>, <code>absolute</code>, or <code>fixed</code>. Elements with the default <code>position: static</code> will not work.<br/>
		Tooltips can't break out of an <code>overflow: hidden</code> parent.<br/>
		<br/>
		Example: <code>&lt;span class="tt_topleft" tooltip="I am a tooltip!"&gt;Hover me&lt;/span&gt;</code><br/>
		Hover elements below for demo.
	</p>
	<div id="tt_demo">
		<div>
			<span class="tt_topleft" tooltip="I am a tooltip using tt_topleft">topleft</span>
			<span class="tt_top" tooltip="I am a tooltip using tt_top">top</span>
			<span class="tt_topright" tooltip="I am a tooltip using tt_topright">topright</span>
		</div>
		<div>
			<span class="tt_left" tooltip="I am a tooltip using tt_left">left</span>
			<span class="tt_middle">(tt_middle does not exist)</span>
			<span class="tt_right" tooltip="I am a tooltip using tt_right">right</span>
		</div>
		<div>
			<span class="tt_bottomleft" tooltip="I am a tooltip using tt_bottomleft">bottomleft</span>
			<span class="tt_bottom" tooltip="I am a tooltip using tt_bottom">bottom</span>
			<span class="tt_bottomright" tooltip="I am a tooltip using tt_bottomright">bottomright</span>
		</div>
	</div>
</div>

<style>
.scrolldemo_outer {width: 170px; height: 240px; overflow: auto; float: left; margin: 2px 12px; border: 12px solid transparent; box-shadow: 0 0 0 3px #80808080;}
.scrolldemo_inner {height: 800px;}
</style>
<div class="pillbox" style="padding-bottom: 30px;">
	<h2>Scrollbar</h2>
	<p>
		Scrollbar renders differently between modern desktop browsers and CEFCodecFix (via scrollbar-color) and CEF 86 (via a range of ::-webkit-scrollbar selectors).
	</p>
	<div id="scrolldemo_outer1" class="scrolldemo_outer"><div class="scrolldemo_inner"></div></div>
	<div id="scrolldemo_outer2" class="scrolldemo_outer"><div class="scrolldemo_inner"></div></div>	
</div>
{{end}}